<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online_auction_system</title>
</head>
<body>
<meta charset="UTF-8">
    <title>online_auction_system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <div class="container">
       <p>of designing and developing a web based auction system
that satisfies the requirements of ease of use, adaptability of changing requirements, maintainable
and has a scope of reusability.</p><br>
       <p>Every person can sell or buy any goods without meeting people personally</p>
   </div>
</body>
</html>